* {margin: 0; padding: 0}
.clear {clear:both}
body
{
    background: white;
    color     : darkslategrey;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


form fieldset {border:none; margin-bottom: 10px; padding-top: 4px;}
form fieldset label {display: block; margin-bottom: 4px;}
form input {border: 1px solid #666; padding: 4px 6px; font-size: large;}
form button {border:none; padding: 4px 6px; font-size: large;}
form textarea {border: 1px solid #666; padding: 4px 6px; font-size: large;width: 100%; height: 200px;}


    #page
    {
        width: 800px;
        margin: 0 auto;
    }
        #page_header
        {
            height                            : 50px;
            background                        : royalblue;
            margin-top                        : 10px;
        }
            #header_logo
            {
                display     : inline-block;
                float       : left;
                height      : 100%;
                width       : 200px;
                padding-left: 20px;
            }
                #header_logo a
                {
                    display        : block;
                    height         : 100%;
                    width          : 100%;
                    color          : white;
                    line-height    : 50px;
                    font-size      : large;
                    text-decoration: none;
                }
                    #header_logo a:active
                    {
                        color: #ddd;
                    }
            #header_menu
            {
                display      : inline-block;
                float        : right;
                height       : 100%;
                width        : 200px;
                padding-right: 20px;
                text-align   : right;
                line-height  : 50px;
            }
                #header_menu a
                {
                    color: white;
                }
                    #header_menu a:active
                    {
                        color: #ddd;
                    }
                
        #page_content
        {
            margin: 20px 0;
        }
            #breadcrumbs
            {
                margin: 10px 0;
                color : #666666;
                font-size: small;
            }
                #breadcrumbs a
                {
                    color: #666666;
                    font-size: small;
                }
